.flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.main{
    width: 100%;
    flex-direction: column;
}

.selections{
    gap: 10px;
}

img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.scores{
    justify-content: space-between;
    gap: 100px;
}



